html{
    height: 100%;
    font-family: "Noto Sans JP", sans-serif;
}
body{
    position: relative;
    height: 100%;
    width: 100%;
}

:root {
    /* ベース */
    --color-base: #ffffff;
    /* 細い線などに用いる */
    --color-border: #e3e3e3;
    /* 細い線のホバー時など */
    --color-border-hover: #454545;
    /* アイコンのホバー時など */
    --color-sub: #f7f7f7;
    /* 反対色 */
    --color-complementary: #000000;
    /* 淡い黒 */
    --color-faint-complementary: #1e1e1e;
}

/* メイン */
.main-container{
    width: 100%;
    height: 100%;
}

/* ヘッダー部分 */
.header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    position: relative;
}
.logo {
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    user-select: none;
}
.detail-dropdown-button {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 10000px;
}
.detail-dropdown-button:hover{
    background-color: var(--color-sub);
}
/* フッダー仮 */
.footer-kari{
    position: absolute;
    bottom: 0px;
}

/* メニュードロップダウン */
.dropdown{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.dropdown-button {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
}
.dropdown-button.hover {
    background-color: var(--color-sub);
}
.dropdown-button-text {
    margin-right: 5px;
    color: var(--color-faint-complementary);
}
.dropdown-icon{
    position: relative;
    top: 0px;
    color: var(--color-faint-complementary);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}
.dropdown.open .dropdown-icon{
    transform: rotate(180deg);
}
/* メニュー部分 */
.menu-container{
    position: absolute;
    width: 500px;
    border-radius: 24px;
    top: calc(100% + 10px);
    left: 50%;
    padding: 30px;
    border: 1px solid var(--color-border);
    box-shadow: 0px 5px 15px 0px rgba(172, 172, 172, 0.35);

    opacity: 0;
    transform: translateX(-50%) translateY(10px);
    pointer-events: none;

    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.menu-container.open{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}
/* メニューコントローラー */
.menu-controller-container{
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 15px;
}
.menu-controller-button-design{
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10000px;
    border: 1px solid #e3e3e3;
}
.menu-controller-button-design:hover{
    background-color: var(--color-sub)
}
.menu-create-button-text{
    margin-left: 8px;
    font-size: 14px;
}

/* 真ん中のカウント部分 */
.count-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.count-display{
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

/* オーバーレイ */
.overlay {
    position: absolute;
    background: rgba(0,0,0,0.45);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.overlay.visible {
    pointer-events: auto;
    opacity: 1;
}

/* 新規作成画面 */
.create-modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(calc(-50% - 10px));
    background-color: white;
    border: 1px solid var(--color-border);
    padding: 30px;
    border-radius: 24px;
    width: 650px;

    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.create-modal.open{
    transform: translateX(-50%) translateY(calc(-50%));
    pointer-events: auto;
    opacity: 1;
}

.create-header{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-border);
}

.create-header>h1{
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.create-close-button {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 10000px;
    margin-left: auto;
}
.create-close-button:hover {
    background-color: var(--color-sub);
}

/* 時間指定シンプル */
.create-main-content {
    width: 100%;
    padding: 20px;
}

.create-main-content h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

/* 名称の選択 */
.create-main-name-box {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 80%;
}
.create-main-text-input {
    position: relative;
    border: 0;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.create-main-text-border {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--color-border);
    border-radius: 1000px;
    transition: transform 0.2s, background-color 0.2s;
    transform-origin: center bottom;
}
.create-main-text-input:hover + .create-main-text-border {
    background-color: var(--color-border-hover);
}
.create-main-text-input:focus + .create-main-text-border {
    background-color: var(--color-border-hover);
    transform: scaleY(2);
}

/* 日付の選択　*/
.create-main-date-container {
    padding-top: 5px;
    padding-bottom: 5px;
}
.create-main-date-container>span {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #848484;
}
.create-main-date-box {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 80%;
    position: relative;
}
.create-main-date-box::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--color-border);
    transition: height .2s ease-in-out, background-color .2s ease-in-out;
    border-radius: 1000px;
}
.create-main-date-box:hover::after {
    height: 2px;
    background-color: var(--color-border-hover);
}

.create-main-date-input {
    border: none;
    pointer-events: none;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}